<body>
    <% if admin_signed_in? %>
        <header>
          <li>
            <%= link_to "About", about_path %>
          </li>
          <li>
            <%= link_to "商品一覧", admin_items_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>
        </henader>
    <% end %>
    <main>
      <h2>商品一覧a</h2>
    </main>
</body>
